.oscillatorContainer_JanuaryA {
    background-image: url(https://hertz-168.s3.amazonaws.com/oscillator/january/ice_pattern_by_enaruna_dave26t-pre.jpg);
    background-size: cover;
    box-shadow: -5px -5px 10px #454b4b;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [col17] 1fr [col18] 1fr [col19] 1fr [col20] 1fr [col21] 1fr [col22] 1fr [col23] 1fr [col24] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [row14] 1fr [row15] 1fr [row16] 1fr [rowEnd];
    height: 250px;
    position: absolute;
    width: 450px;
}

.oscillatorHandleTitle_JanuaryA {
    backdrop-filter: blur(10px);
    border-bottom: 2px inset #54626f;
    box-sizing: border-box;
    cursor: move;
    grid-column: col1 / rightEdge;
    grid-row: row1 / row3;
    text-align: center;
}

.oscillatorName_JanuaryA {
    color: #101212;
    filter: contrast(200%) saturate(200%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    margin-top: 2px;
}

.oscillatorDelete_JanuaryA {
    color: #101212;
    cursor: pointer;
    filter: contrast(200%) saturate(200%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 36px;
    grid-column: col23 / rightEdge;
    grid-row: row1 / row3;
    margin: -6px 0 0 6px;
}

.oscillatorPatchBay_JanuaryA {
    backdrop-filter: blur(10px) hue-rotate(90deg) saturate(50%);
    border-right: 2px inset #54626f;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-column: col1 / col3;
    grid-row: row3 / rowEnd;
}

.oscillatorOutputLabel_JanuaryA {
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin-left: 4px;
    margin-top: 300%;
    position: relative;
}

.oscillatorOutputDiv_JanuaryA {
    background: radial-gradient(#1b1c1e, #adbdbc);
    border: 1px outset #54626f;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    margin-top: 5px;
    width: 100%;
}

.oscillatorOutputConnector_JanuaryA {
    background: transparent;
    border: 4px solid #454b4b;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 15px -15px 20px #454b4b;
    height: 80%;
    margin: 10%;
    width: 80%;
}

.oscillatorFrequencyLabel_JanuaryA {
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
}

.oscillatorFrequencyDisplayDiv_JanuaryA {
    backdrop-filter: blur(17px) brightness(160%) contrast(130%) hue-rotate(-45deg);
    border: 1px outset #54626f;
    box-sizing: border-box;
    grid-column: col3 / col10;
    grid-row: row3 / row9;
    text-align: center;
}

.oscillatorFrequencyDisplay_JanuaryA {
    background: transparent;
    border: none;
    border-radius: 0;
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    margin: 10% 0;
    outline-color: #a2a3a6;
}

.oscillatorFrequencyModulationInputDiv_JanuaryA {
    backdrop-filter: blur(5px) hue-rotate(45deg);
    border: 1px outset #54626f;
    grid-column: col3 / col10;
    grid-row: row9 / rowEnd;
}

.oscillatorFrequencyModulationInputLabel_JanuaryA {
    color: #e4edf2;
    filter: brightness(200%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 21px;
    margin-left: 4px;
}

.oscillatorFrequencyModulationInputInLabel_JanuaryA {
    color: #e4edf2;
    filter: brightness(200%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin-left: 38%;
    margin-top: 15%;
    position: relative;
}

.oscillatorFrequencyModulationInputConnectorDiv_JanuaryA {
    background: radial-gradient(#1b1c1e, #adbdbc);
    border: 1px outset #54626f;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    margin-left: 31.5%;
    margin-top: 5px;
    width: 27%;
}

.oscillatorFrequencySliderDiv_JanuaryA {
    backdrop-filter: blur(4px) brightness(90%) contrast(120%);
    border: 1px outset #54626f;
    box-sizing: border-box;
    grid-column: col10 / col13;
    grid-row: row3 / rowEnd;
}

.oscillatorFrequencyRangeInput_JanuaryA {
    -webkit-appearance: none;
    appearance: none;
    background: #101212;
    height: 5px;
    outline-color: #a2a3a6;
    transform: rotateZ(-90deg) translateX(-100px) translateY(-75px);
    width: 25vh;
}

.oscillatorFrequencyRangeInput_JanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: #101212;
    background-image: url(https://hertz-168.s3.amazonaws.com/oscillator/january/ice_pattern_by_enaruna_dave26t-pre.jpg);
    background-size: cover;
    box-sizing: border-box;
    border-left: 1px outset #adbdbc;
    border-radius: 4px;
    border-right: 2px outset #adbdbc;
    cursor: pointer;
    filter: brightness(120%) hue-rotate(22deg);
    height: 40px;
    width: 16px;
}

.oscillatorDetuneDiv_JanuaryA {
    backdrop-filter: blur(17px) brightness(130%) contrast(150%) hue-rotate(-90deg) saturate(150%);
    border: 1px outset #54626f;
    box-sizing: border-box;
    display: grid;
    grid-column: col13 / colEnd;
    grid-row: row3 / row8;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [rightEdge];
    grid-template-rows: [row1] 35% [row2] 1fr [row3] 4px [rowEnd];
}

.oscillatorDetuneLabel_JanuaryA {
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row1 / row2;
    margin-left: 4px;
}

.oscillatorDetuneCentsLabel_JanuaryA {
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    grid-column: col1 / col4;
    grid-row: row2 / row3;
    margin-left: 4px;
    margin-top: 7px;
}

.oscillatorDetuneDetuneDisplayInput_JanuaryA {
    background: transparent;
    border: none;
    color: #101212;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    grid-column: col4 / col7;
    grid-row: row2 / row3;
    outline-color: #a2a3a6;
}

.oscillatorDetuneModulateInputLabel_JanuaryA {
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    grid-column: col7 / rightEdge;
    grid-row: row1 / row2;
    margin-left: 20px;
}

.oscillatorDetuneModulationInputConnectorDiv_JanuaryA {
    background: radial-gradient(#1b1c1e, #adbdbc);
    border: 1px outset #54626f;
    box-sizing: border-box;
    cursor: pointer;
    grid-column: col7 / rightEdge;
    grid-row: row2 / row3;
    height: 30px;
    transform: translateX(15px);
    width: 30px;
}

.oscillatorDetuneSliderDiv_JanuaryA {
    backdrop-filter: blur(8px);
    border: 1px outset #54626f;
    box-sizing: border-box;
    display: grid;
    grid-column: col13 / colEnd;
    grid-row: row8 / row11;
    grid-template-columns: [col1] 4px [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 8px [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [rowEnd];
}

.oscillatorDetuneSlider_JanuaryA {
    -webkit-appearance: none;
    appearance: none;
    background: #101212;
    grid-column: col2 / col8;
    grid-row: row1 / rowEnd;
    height: 5px;
    outline-color: #a2a3a6;
    transform: translateY(17px);
    width: 100%;
}

.oscillatorDetuneSlider_JanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: #101212;
    background-image: url(https://hertz-168.s3.amazonaws.com/oscillator/january/ice_pattern_by_enaruna_dave26t-pre.jpg);
    background-size: cover;
    box-sizing: border-box;
    border-left: 1px outset #adbdbc;
    border-radius: 4px;
    border-right: 2px outset #adbdbc;
    cursor: pointer;
    filter: brightness(120%) hue-rotate(22deg);
    height: 40px;
    width: 16px;
}

.oscillatorWavetypeDiv_JanuaryA {
    backdrop-filter: blur(15px) brightness(130%) hue-rotate(-75deg) sepia(20%);
    border: 1px outset #54626f;
    box-sizing: border-box;
    display: grid;
    grid-column: col13 / colEnd;
    grid-row: row11 / rowEnd;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [rightEdge];
    grid-template-rows: [row1] 35% [row2] 1fr [row3] 1fr [row4] 4px [rowEnd];
}

.oscillatorTypeLabel_JanuaryA {
    color: #101212;
    filter: brightness(100%) saturate(300%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row1 / row2;
    margin-left: 4px;
}

.oscillatorTypeSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #101212;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    grid-column: col1 / col6;
    grid-row: row2 / row3;
    margin-left: 4px;
    outline-color: #a2a3a6;
}